[Desktop Entry]
Categories=Qt;TextEditor;Utility;
Exec=NotepadSharp %f
Icon=NotepadSharp
MimeType=text/plain;
StartupNotify=true
Type=Application
Terminal=false

Name=Notepad #
Name[pt_BR]=Editor de Texto Notepad #

GenericName=Text Editor
GenericName[pt_BR]=Editor de Texto

Comment=A compliance-focused and security-conscious reimplementation of Notepad++
Comment[pt_BR]=O Notepad # é uma reimplementação do Notepad++ com foco em conformidade e segurança

Keywords=notepad;sharp;text;editor;manager;IDE;programming tool;source code;tabs;
Keywords[pt_BR]=notepad;sharp;bloco de notas;editor;texto;Ambiente de Desenvolvimento Integrado;IDE;ferramenta de programação;exibição de texto colorido;código-fonte;abas;guias;
